In [1]:
import pandas as pd
df=pd.read_csv("IMDB Dataset.csv")
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [2]:
df['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [3]:
df['sentiment']

0        positive
1        positive
2        positive
3        negative
4        positive
           ...
49995    positive
49996    negative
49997    negative
49998    negative
49999    negative
Name: sentiment, Length: 50000, dtype: object

In [4]:
df.shape

(50000, 2)

## Step1: LowerCase the Text

In [51]:
df['review']=df['review'].str.lower()
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Step2: Remove HTML Tags

In [7]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [8]:
text = "<html><body><p> Movie 1</p><p> Actor - Aamir Khan</p><p> Click here to <a href='http://google.com'>download</a></p></body></html>"

In [9]:
remove_html_tags(text)

' Movie 1 Actor - Aamir Khan Click here to download'

In [52]:
df['review']=df['review'].apply(remove_html_tags)
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Step3: Remove URL

In [11]:
text1 = 'Check out my youtube https://www.youtube.com/dswithbappy'
text2 = 'Check out my linkedin https://www.linkedin.com/in/boktiarahmed73/'
text3 = 'Google search here www.google.com'
text4 = 'For data click https://www.kaggle.com/'

In [12]:
def remove_url(text ):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [13]:
remove_url(text1)

'Check out my youtube '

In [14]:
remove_url(text2)

'Check out my linkedin '

In [53]:
df['review']=df['review'].apply(remove_url)
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Step4: Punctuation Handling

In [33]:
df['review'][5]

'Probably my all-time favorite movie, a story of selflessness, sacrifice and dedication to a noble cause, but it\'s not preachy or boring. It just never gets old, despite my having seen it some 15 or more times in the last 25 years. Paul Lukas\' performance brings tears to my eyes, and Bette Davis, in one of her very few truly sympathetic roles, is a delight. The kids are, as grandma says, more like "dressed-up midgets" than children, but that only makes them more fun to watch. And the mother\'s slow awakening to what\'s happening in the world and under her own roof is believable and startling. If I had a dozen thumbs, they\'d all be "up" for this movie.'

In [34]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [35]:
exclude=string.punctuation

### Method1

In [36]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [37]:
text = 'string. With. Punctuation?'

In [38]:
start = time.time()
print(remove_punc(text))
time1 = time.time() - start
print(time1*50000)

string With Punctuation
0.0

### Method2

In [39]:
def remove_punc1(text):
    return text.translate(str.maketrans('', '', exclude))

In [40]:
start = time.time()
remove_punc1(text)
time2 = time.time() - start
print(time2*50000)

0.0

In [42]:
remove_punc1(df['review'][5])

'Probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring It just never gets old despite my having seen it some 15 or more times in the last 25 years Paul Lukas performance brings tears to my eyes and Bette Davis in one of her very few truly sympathetic roles is a delight The kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch And the mothers slow awakening to whats happening in the world and under her own roof is believable and startling If I had a dozen thumbs theyd all be up for this movie'

In [54]:
df['review']=df['review'].apply(remove_punc1)
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production the filming tech...
2        i thought this was a wonderful way to spend ti...
3        basically theres a family where a little boy j...
4        petter matteis love in the time of money is a ...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    i am a catholic taught in parochial elementary...
49998    im going to have to disagree with the previous...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Step5: chat_conversion handle

In [45]:
chat_words = {
    'AFAIK':'As Far As I Know',
    'AFK':'Away From Keyboard',
    'ASAP':'As Soon As Possible',
    'PLS':'Please',
    'FYI':'For Your Information',
    'PFB':'Please Find Below'
}

In [46]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [47]:
chat_conversion('Do this work ASAP')

'Do this work As Soon As Possible'

In [55]:
df['review']=df['review'].apply(chat_conversion)
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production the filming tech...
2        i thought this was a wonderful way to spend ti...
3        basically theres a family where a little boy j...
4        petter matteis love in the time of money is a ...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    i am a catholic taught in parochial elementary...
49998    im going to have to disagree with the previous...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Step6: Incorrect_Text Handling

In [58]:
from textblob import TextBlob

In [59]:
incorrect_text = 'ceertain conditionas duriing seveal ggenerations aree moodified in the saame maner.'

textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions during several generations are modified in the same manner.'

In [61]:
def incorrect_text_handling(text):
    textBlb = TextBlob(text)
    return textBlb.correct().string

In [ ]:
df['review']=df['review'].apply(incorrect_text_handling)
df['review']

## Step6: Stop Words

In [65]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\slkpd\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [66]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [67]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [68]:
remove_stopwords('probably my all-time favorite movie, a story of selflessness, sacrifice and dedication to a noble cause, but it\'s not preachy or boring. it just never gets old, despite my having seen it some 15 or more times')

'probably  all-time favorite movie,  story  selflessness, sacrifice  dedication   noble cause,    preachy  boring.   never gets old, despite   seen   15   times'

In [69]:
df['review']=df['review'].apply(remove_stopwords)
df['review']

0        one    reviewers  mentioned   watching  1 oz e...
1         wonderful little production  filming techniqu...
2         thought    wonderful way  spend time    hot s...
3        basically theres  family   little boy jake thi...
4        petter matteis love   time  money   visually s...
                               ...
49995     thought  movie    right good job  wasnt  crea...
49996    bad plot bad dialogue bad acting idiotic direc...
49997       catholic taught  parochial elementary schoo...
49998    im going    disagree   previous comment  side ...
49999     one expects  star trek movies   high art   fa...
Name: review, Length: 50000, dtype: object

In [70]:
df.head()

                                              review sentiment
0  one    reviewers  mentioned   watching  1 oz e...  positive
1   wonderful little production  filming techniqu...  positive
2   thought    wonderful way  spend time    hot s...  positive
3  basically theres  family   little boy jake thi...  negative
4  petter matteis love   time  money   visually s...  positive

## Step7: Lemmatization

In [71]:
import nltk
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\slkpd\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\slkpd\AppData\Roaming\nltk_data...

True

In [75]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\slkpd\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [72]:
def lemmatization(paragraph):
    sentences = nltk.sent_tokenize(paragraph)
    lemmatizer = WordNetLemmatizer()
    # Lemmatization
    for i in range(len(sentences)):
        words = nltk.word_tokenize(sentences[i])
        words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
        sentences[i] = ' '.join(words)
    return sentences

In [73]:
df['review'][0]

'one    reviewers  mentioned   watching  1 oz episode youll  hooked   right    exactly  happened  methe first thing  struck   oz   brutality  unflinching scenes  violence  set  right   word go trust      show   faint hearted  timid  show pulls  punches  regards  drugs sex  violence   hardcore   classic use   wordit  called oz     nickname given   oswald maximum security state penitentary  focuses mainly  emerald city  experimental section   prison    cells  glass fronts  face inwards  privacy   high   agenda em city  home  manyaryans muslims gangstas latinos christians italians irish  moreso scuffles death stares dodgy dealings  shady agreements  never far awayi would say  main appeal   show  due   fact   goes   shows wouldnt dare forget pretty pictures painted  mainstream audiences forget charm forget romanceoz doesnt mess around  first episode  ever saw struck    nasty   surreal  couldnt say   ready      watched   developed  taste  oz  got accustomed   high levels  graphic violence   violence  injustice crooked guards wholl  sold    nickel inmates wholl kill  order  get away   well mannered middle class inmates  turned  prison bitches due   lack  street skills  prison experience watching oz  may become comfortable    uncomfortable viewingthats    get  touch   darker side'

In [76]:
lemmatization(df['review'][0])

['one reviewer mentioned watching 1 oz episode youll hooked right exactly happened methe first thing struck oz brutality unflinching scene violence set right word go trust show faint hearted timid show pull punch regard drug sex violence hardcore classic use wordit called oz nickname given oswald maximum security state penitentary focus mainly emerald city experimental section prison cell glass front face inwards privacy high agenda em city home manyaryans muslim gangsta latino christian italian irish moreso scuffle death stare dodgy dealing shady agreement never far awayi would say main appeal show due fact go show wouldnt dare forget pretty picture painted mainstream audience forget charm forget romanceoz doesnt mess around first episode ever saw struck nasty surreal couldnt say ready watched developed taste oz got accustomed high level graphic violence violence injustice crooked guard wholl sold nickel inmate wholl kill order get away well mannered middle class inmate turned prison bitch due lack street skill prison experience watching oz may become comfortable uncomfortable viewingthats get touch darker side']

In [77]:
df['review']=df['review'].apply(lemmatization)
df['review']

0        [one reviewer mentioned watching 1 oz episode ...
1        [wonderful little production filming technique...
2        [thought wonderful way spend time hot summer w...
3        [basically there family little boy jake think ...
4        [petter matteis love time money visually stunn...
                               ...
49995    [thought movie right good job wasnt creative o...
49996    [bad plot bad dialogue bad acting idiotic dire...
49997    [catholic taught parochial elementary school n...
49998    [im going disagree previous comment side malti...
49999    [one expects star trek movie high art fan expe...
Name: review, Length: 50000, dtype: object

In [79]:
df.head()

                                              review sentiment
0  [one reviewer mentioned watching 1 oz episode ...  positive
1  [wonderful little production filming technique...  positive
2  [thought wonderful way spend time hot summer w...  positive
3  [basically there family little boy jake think ...  negative
4  [petter matteis love time money visually stunn...  positive

## Step8: Encoding Using Keras Embeddings

In [80]:
docs = ['recurrent neural network',
        'neural network',
        'artificial neural',
        'connections between nodes',
        'can create a cycle',
        'allowing output',
        'some nodes to affect subsequent',
        'exhibit temporal',
        'dynamic behavior',
        'type of Neural Network',
        'affect subsequent']

In [85]:
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer()

In [86]:
tokenizer.fit_on_texts(docs)

In [87]:
tokenizer.word_index

{'neural': 1,
 'network': 2,
 'nodes': 3,
 'affect': 4,
 'subsequent': 5,
 'recurrent': 6,
 'artificial': 7,
 'connections': 8,
 'between': 9,
 'can': 10,
 'create': 11,
 'a': 12,
 'cycle': 13,
 'allowing': 14,
 'output': 15,
 'some': 16,
 'to': 17,
 'exhibit': 18,
 'temporal': 19,
 'dynamic': 20,
 'behavior': 21,
 'type': 22,
 'of': 23}

In [88]:
tokenizer.word_counts

OrderedDict([('recurrent', 1),
             ('neural', 4),
             ('network', 3),
             ('artificial', 1),
             ('connections', 1),
             ('between', 1),
             ('nodes', 2),
             ('can', 1),
             ('create', 1),
             ('a', 1),
             ('cycle', 1),
             ('allowing', 1),
             ('output', 1),
             ('some', 1),
             ('to', 1),
             ('affect', 2),
             ('subsequent', 2),
             ('exhibit', 1),
             ('temporal', 1),
             ('dynamic', 1),
             ('behavior', 1),
             ('type', 1),
             ('of', 1)])

In [89]:
tokenizer.document_count

11

In [92]:
len(tokenizer.word_index)

23

In [90]:
sequences = tokenizer.texts_to_sequences(docs)
sequences

[[6, 1, 2],
 [1, 2],
 [7, 1],
 [8, 9, 3],
 [10, 11, 12, 13],
 [14, 15],
 [16, 3, 17, 4, 5],
 [18, 19],
 [20, 21],
 [22, 23, 1, 2],
 [4, 5]]

In [91]:
from keras.utils import pad_sequences
sequences = pad_sequences(sequences,padding='post')
sequences

array([[ 6,  1,  2,  0,  0],
       [ 1,  2,  0,  0,  0],
       [ 7,  1,  0,  0,  0],
       [ 8,  9,  3,  0,  0],
       [10, 11, 12, 13,  0],
       [14, 15,  0,  0,  0],
       [16,  3, 17,  4,  5],
       [18, 19,  0,  0,  0],
       [20, 21,  0,  0,  0],
       [22, 23,  1,  2,  0],
       [ 4,  5,  0,  0,  0]])

In [103]:
from keras.models import Sequential
from keras.layers import Dense,SimpleRNN,Embedding,Flatten
model = Sequential()
model.add(Embedding(24,output_dim=2,input_length=5)) #Total vocab len, ouput dim(per word would be represend by 2 vector), input len per row

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 5, 2)              48

=================================================================
Total params: 48 (192.00 Byte)
Trainable params: 48 (192.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [104]:
model.compile('adam','accuracy')

In [105]:
pred = model.predict(sequences)
print(pred)

1/1 [==============================] - 0s 98ms/step
[[[-0.02099687 -0.03525672]
  [-0.0001161   0.00161446]
  [ 0.01567975  0.03682724]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[-0.0001161   0.00161446]
  [ 0.01567975  0.03682724]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[-0.02742373  0.02291981]
  [-0.0001161   0.00161446]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[-0.03518493 -0.01345124]
  [-0.0437113  -0.00729164]
  [ 0.03652874 -0.04855434]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[-0.02074176  0.02918896]
  [-0.00093017 -0.01942077]
  [-0.04568472  0.02235538]
  [ 0.04139873 -0.04949817]
  [ 0.03929007  0.04936376]]

 [[-0.00585607 -0.03228404]
  [-0.0061437   0.02159883]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[ 0.01380246  0.03437941]
  [ 0.03652874 -0.04855434]
  [ 0.00110973 -0.03777895]
  [ 0.03056199 -0.03977035]
  [ 0.0361841   0.01070174]]

 [[-0.00837289  0.03263661]
  [ 0.02116888 -0.02657809]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[ 0.03689649 -0.00674242]
  [-0.0186676  -0.03930991]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]

 [[ 0.02827707  0.02101481]
  [ 0.0334524   0.02618207]
  [-0.0001161   0.00161446]
  [ 0.01567975  0.03682724]
  [ 0.03929007  0.04936376]]

 [[ 0.03056199 -0.03977035]
  [ 0.0361841   0.01070174]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]
  [ 0.03929007  0.04936376]]]

In [109]:
def sequences(docs):
    tokenizer = Tokenizer()
    tokenizer.fit_on_texts(docs)
    n=len(tokenizer.word_index)+1
    sequences = tokenizer.texts_to_sequences(docs)
    return sequences

In [110]:
df1=df.sample(5000)
df1.head()

                                                  review sentiment
7701   [wonder historian ian kershaw author groundbre...  negative
13387  [private practice spun fairly successful well ...  negative
48654  [novelty hearing cleancut jay leno spout fourl...  negative
13398  [saw film back 2005 palm spring international ...  positive
37588  [im big fan b5 caught end season three faithfu...  negative

In [114]:
df1['sentiment']=df1['sentiment'].map({'positive':1,"negative":0})

In [115]:
df1['sentiment']

7701     0
13387    0
48654    0
13398    1
37588    0
        ..
5186     0
15539    1
20866    1
25635    1
16934    0
Name: sentiment, Length: 5000, dtype: int64

In [117]:
df1['review']=df1['review'].apply(sequences)
df1['review']

7701     [[4, 21, 22, 23, 24, 25, 1, 5, 26, 27, 28, 29,...
13387    [[13, 14, 15, 16, 17, 18, 19, 3, 4, 5, 20, 21,...
48654    [[2, 3, 4, 5, 1, 6, 7, 8, 9, 10, 11, 12, 13, 1...
13398    [[3, 1, 9, 10, 11, 12, 13, 1, 14, 15, 1, 3, 2,...
37588    [[11, 12, 13, 14, 15, 16, 2, 17, 18, 19, 20, 2...
                               ...
5186     [[8, 9, 10, 11, 12, 13, 14, 2, 15, 3, 16, 17, ...
15539    [[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 10, 11, 12, 13...
20866    [[9, 2, 10, 11, 6, 12, 3, 13, 14, 15, 16, 17, ...
25635    [[6, 7, 8, 9, 10, 11, 12, 1, 2, 13, 14, 15, 4,...
16934    [[1, 2, 4, 16, 17, 18, 5, 19, 20, 21, 22, 23, ...
Name: review, Length: 5000, dtype: object

In [118]:
X=df1['review']
y=df1['sentiment']
X.shape,y.shape

((5000,), (5000,))

In [124]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=42)

In [125]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((4250,), (750,), (4250,), (750,))

In [134]:
X_train

30538    [[9, 10, 11, 12, 13, 14, 2, 15, 3, 16, 4, 17, ...
20609    [[58, 11, 26, 59, 60, 61, 26, 62, 12, 63, 64, ...
25635    [[6, 7, 8, 9, 10, 11, 12, 1, 2, 13, 14, 15, 4,...
9285     [[3, 4, 5, 6, 7, 1, 8, 9, 10, 11, 12, 13, 14, ...
45393    [[7, 8, 24, 1, 25, 26, 2, 27, 28, 29, 30, 31, ...
                               ...
26923    [[9, 10, 1, 11, 12, 13, 14, 15, 1, 16, 17, 18,...
3090     [[3, 4, 5, 6, 7, 8, 9, 10, 1, 11, 12, 13, 14, ...
4392     [[24, 13, 74, 75, 76, 77, 78, 5, 1, 25, 79, 6,...
32599    [[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2...
21848    [[1, 15, 3, 16, 17, 1, 6, 18, 19, 20, 21, 7, 1...
Name: review, Length: 4250, dtype: object

In [138]:
df[0]

KeyError: 0

In [135]:
X_train[30538]

[[9,
  10,
  11,
  12,
  13,
  14,
  2,
  15,
  3,
  16,
  4,
  17,
  18,
  5,
  6,
  19,
  20,
  21,
  22,
  4,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  7,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  3,
  7,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  1,
  44,
  8,
  45,
  2,
  46,
  47,
  48,
  49,
  50,
  51,
  1,
  52,
  53,
  54,
  55,
  8,
  56,
  57,
  58,
  59,
  5,
  6,
  60,
  61,
  62,
  63,
  1]]

In [133]:
X_train = pad_sequences(X_train,padding='post',maxlen=50)
X_test = pad_sequences(X_test,padding='post',maxlen=50)

ValueError: Shape of sample (399,) of sequence at position 1 is different from expected shape (72,)